@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* For mobile */
* ,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --bg-color:hsl(330, 100%, 98%);
    --heading-color:hsl(14, 45%, 36%);
    --heading-color-dark:hsl(332, 51%, 32%);
    --text-color-light:hsl(30, 10%, 34%);
    --text-color-dark: hsl(24, 5%, 18%);
    --title-font: "Young Serif", serif;
    --text-font: "Outfit", sans-serif;
    --line-color:hsl(30, 18%, 87%);
    font-size: 13px;
}



hr{
    display: block;
    border:0;
    background-color: var(--line-color);
    width: 100%;
    height:1px;
    margin-block: 1rem;
}


body{
    font-family: var(--text-font);
}


.recipe-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.8rem;
    margin-bottom: 0.8rem;
}

.recipe-article{
    padding:1.2rem;
}

.recipe-description{
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    line-height: 1.6;
}

.recipe-section--prep{
     background-color: var(--bg-color);
     padding:1.5rem;
     margin-bottom: 1rem;
}

.recipe-title{
    font-weight: 700;
}

.recipe-title, .section-title{
    color:var(--text-color-dark);
    font-family: var(--title-font);
}

.section-title{
    color:var(--heading-color);
    font-weight: 600;
}


.section-title--prep{
    color: var(--heading-color-dark);
    font-family: var(--text-font);
    font-weight: 600;
}

.recipe-section--prep > ul{
    margin-left: 0.8rem;
}

.section-list{
    padding:0.5rem;
    margin-left: 1rem;
}

.section-list-item{
    color: var(--text-color-dark);
    margin-block: 1rem;
    max-width: 90%;
}

.section-list-item > span{
    font-weight: 600;
}



.footer{
    margin-top:1rem;
}

table {
  border-collapse: collapse; /* ensures borders don't double up */
  width: 100%;
}

th, td {
  border: none; 
  border-bottom: 1px solid var(--line-color); 
  padding: 0.75rem 1rem;
  text-align: left;
}

td:first-child{
    color:var(--text-color-light);
}

td:last-child{
    color: var(--heading-color);
    font-weight: 700;
}



.attribution { font-size: 0.8rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* For tablets and Desktops */
@media screen and (min-width: 768px) {
    :root{
        font-size: 16px;
    }
    
    body{
        background-color: var(--bg-color);
        padding:2rem;
    }

    .recipe-article{
        max-width: 70%;
        background-color: white;
        margin-inline: auto;
        border-radius: 1rem;
    }
}